check process mongodb
    matching /usr/bin/mongod
    start program = "{{start_program}}"
    stop program = "{{stop_program}}"
    if does not exist 5 cycles then restart
    if cpu usage > 55% for 5 cycles then alert
    if memory usage > 55% for 5 cycles then alert
    if 3 restarts within 5 cycles then timeout
